* {
    padding: 0;
    margin: 0;
    --red: #7d1111;
    --lightred: #c21920;
    --darkred: #5a0a0d;
    --pink: #df7a82;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    position: relative;
    background-color: #999;
    color: white;
}

.background {
    position: absolute;
    z-index: 1;
    background-image: url('./images/background.jpg');
    opacity: 0.5;
    background-position: center;
    background-size: contain cover;
    height: 100vh;
    width: 100%;
}

#main_container {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 900;
    width: 100%;
    height: 77vh;
}

/**** SEARCH CONTAINER ****/

.search_container {
    position: relative;
    z-index: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 100%;
    height: 100px;
}

#name_header {
    text-shadow: 1px 0px 2px black, -1px 0px 2px black, 0 1px 2px black, 0 -1px 2px black;
    font-size: 12pt;
    margin-left: 45px;
    margin-top: 15px;
    color: white;
}

#logo {
    position: absolute;
    left: 2.5%;
    top: 15px;
    width: 180px;
    height: 60px;
    filter: invert(1);
}

.input_container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 96%;
    border-bottom: 5px solid var(--darkred);
    border-radius: 16px;
}

#input_form {
    position: relative;
    margin-left: 25px;
    margin-bottom: 15px;
    height: 100%;
}

.search_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#name {
    height: 35px;
    width: 225px;
    color: black;
    text-align: center;
    font-size: 14pt;
    border-radius: 25px 0 0 25px;
}

#name:focus {
    outline: 1px solid var(--pink);
    border: 2px solid var(--lightred);
    box-shadow: -2px 0 5px var(--pink);
}

#submit {
    height: 37px;
    width: 50px;
    border-radius: 0 25px 25px 0;
    transition: 0.3s;
    font-size: 13pt;
}

#submit .fa {
    margin-bottom: 2px;
}

#submit,
#left_button,
#right_button {
    transition: 0.3s;
    border: 1px solid var(--darkred);
    color: var(--yellow);
    text-shadow: 1px 0px 1px black, -1px 0px 1px black;
    background-color: var(--darkred);
    background-image: linear-gradient(to top, var(--red), var(--darkred));
    box-shadow: 2px 2px 5px #333;
    outline: 1px solid black;
 }

#submit:hover,
#left_button:hover,
#right_button:hover,
.list button:hover {
    cursor: pointer;
    background-color: var(--lightred);
    background-image: linear-gradient(to top, var(--pink), var(--lightred));
    text-shadow: 1px 0px 1px var(--red), -1px 0px 1px var(--red);
    outline: 1px solid var(--pink);
    border: 1px solid white;
    box-shadow: 0 0 5px white;
}

/**** FILTER CONTAINER ****/

.left_container {
    position: relative;
    width: 20%;
}

#filter_container {
    position: absolute;
    right: 0;
    border-left: 4px solid var(--darkred);
    border-top: 4px solid var(--darkred);
    border-bottom: 4px solid var(--darkred);
    width: 250px;
    min-height: 400px;
    max-height: fit-content;
    border-radius: 10px 0 0 10px;
    user-select: none;
    transition: 0.5s;
}

#filter_container.hidden {
    width: 34px;
}

#hamberger {
    position: absolute;
    top: 20px;
    left: -58px;
    background-color: var(--darkred);
    border-left: 4px solid var(--darkred);
    border-bottom: 4px solid var(--darkred);
    border-top: 4px solid var(--darkred);
    border-radius: 10px 0 0 10px;
    width: 50px;
    height: 50px;
    transition: 0.3s;
}

#filter_container.hidden #hamberger {
    width: 17px;
    left: -25px;
}

#filter_container.hidden .hamberger_line,
#filter_container.hidden .hamberger_line::before,
#filter_container.hidden .hamberger_line::after {
    width: 12px;
}

#hamberger:hover {
    cursor: pointer;
    border-radius: 15px 0 0 15px;
    background-color: white;
    opacity: 0.8;
}

.hamberger_line {
    position: relative;
    left: 5px;
    top: 22px;
    height: 3px;
    width: 40px;
    border-radius: 20px;
    background-color: white;
    border-bottom: 1px solid white;
    transition: 0.3s;
}

.hamberger_line::before,
.hamberger_line::after {
    position: absolute;
    left: 0px;
    height: 3px;
    width: 40px;
    border-radius: 20px;
    background-color: white;
    content: '';
    transition: 0.3s;
}

.hamberger_line::before {
    top: 15px;
}

.hamberger_line::after {
    top: -15px;
}

#filter_container h1 {
    padding-left: 10px;
}

#filter_container h1 > div {
    position: absolute;
    top: 0;
    left: 30px;
    padding-left: 10px;
}

.filter_title:hover {
    cursor: pointer;

}

.filter_title span {
    color: var(--darkred);
}

.filter_title:hover span {
    color: white;
}

.filter_title {
    border-radius: 5px 0 0 0;
    position: relative;
    align-items: center;
    background-color: white;
    color: var(--darkred);
    border-bottom: 3px solid var(--darkred);
    overflow: hidden;
}

.filter_title.open {
    background-color: var(--darkred);
    color: white;
    border-bottom: 3px solid white;
}

.filter_title.open span {
    color: white;
}

.filter_title:hover {
    background-color: var(--lightred);
    color: white;
    border-bottom: 3px solid white;
    text-shadow: -1px 1px 0 black,
                1px 1px 0 black,
                1px -1px 0 black,
                -1px -1px 0 black;
}

.filter_title.open h1 > div {
    color: var(--lightred);
}

.filter_list {
    display: none;
    list-style: none;
    overflow: hidden;
    color: white;
    text-shadow: -1px 1px 0 black,
                1px 1px 0 black,
                1px -1px 0 black,
                -1px -1px 0 black;
}

.filter_list li {
    padding: 2px;
    padding-left: 12px;
    white-space: nowrap;
}

.filter_list li:hover {
    cursor: pointer;
    background-color: white;
    outline: 1px solid var(--red);
    color: var(--lightred);
    text-shadow: none;
}


/*** RESPONSE CONTAINER ***/

#response_container {
    width: 80%;
    height: 100%;
    border-left: 5px double black;
    border-right: 5px double black;
}

#response_list_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.list {
    display: none;
    grid-template-columns: auto auto auto auto auto auto;
    list-style: none;
    width: fit-content;
}

.list > li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    margin: 10px;
}

.list > li > img {
    height: 20vh;
    box-shadow: 2px 2px 5px black;
    border-radius: 6px;
}

.list > li > img:hover {
    cursor: pointer;
    outline: 4px double white;
}

.list h2 {
    color: var(--pink);
    text-shadow: -1px 1px 0 var(--lightred),
            1px 1px 0 var(--lightred),
            1px -1px 0 var(--lightred),
            -1px -1px 0 var(--lightred);
    background-image: linear-gradient(to top, #0f1a41, #192653, #202e61);
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid var(--pink);
    padding: 5px 10px 5px 10px;
    font-size: 14pt;
    max-width: fit-content;
    min-width: 200px;
}

.list h3 {
    font-size: 12pt;
    padding: 6px 0 6px 0;
    text-shadow: 2px 2px 2px var(--darkblue), -1px 0px 1px var(--darkblue);
}

.list button {
    border: 1px solid var(--yellow);
    outline: 1px solid black;
    border-radius: 0.5rem;
    background-image: linear-gradient(to top, #0f1a41, #192653, #202e61);
    color: var(--yellow);
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
    box-shadow: 2px 2px 5px var(--darkblue);
}

.list li:last-child {
    border-bottom: none;
}

#button_container {
    position: relative;
    height: 100px;
    z-index: 900;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 95%;
    border-radius: 1rem;
    border-top: 5px solid var(--darkred);
}

#button_container button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 33px;
    margin: 1rem 0.5rem 1rem 0.5rem;
    font-size: 24pt;
    border-radius: 2rem;
}

button:hover {
    cursor: pointer;
}

#pokeball {
    position: absolute;
    right: 30px;
    height: 50px;
    filter: invert(1);
}

.right_container {
    width: 20%;
    height: 100%;
    overflow: hidden;
}

.card_info {
    margin: 10px;
    border-bottom: 3px solid var(--darkred);
    margin-right: 12%;
    padding-bottom: 10px;
}

.card_info h1 {
    text-shadow: -1px 1px 0 black,
            1px 1px 0 black,
            1px -1px 0 black,
            -1px -1px 0 black;
}

.card_text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card_info h2 {
    color: var(--red);
    text-shadow: -1px 1px 0 white,
        1px 1px 0 white,
        1px -1px 0 white,
        -1px -1px 0 white;
    font-size: 16pt;
}

.card_info h3 {
    color: var(--darkred);
    text-shadow: -1px 1px 0 white,
        1px 1px 0 white,
        1px -1px 0 white,
        -1px -1px 0 white;
    font-size: 16pt;
}

.card_info h4 {
    color: #222;
    font-size: 12pt;
    margin-right: 10px;
}

/**** IMAGE CONTAINER ****/

#image_modal {
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

#image_container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 85vh;
    border: 1px solid black;
    background-color: rgba(26, 24, 24, 0.541);
    border-radius: 16px 6px 16px 16px;
    margin-left: 5px;
}

#close_modal {
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    padding-left: 2px;
    width: 30px;
    height: 30px;
    font-size: 16pt;
    background-color: #111;
    border-radius: 5px;
}

#close_modal:hover {
    cursor: pointer;
    color: white;
    background-color: var(--red);
    outline: 1px solid white;
}

#image {
    width: 450px;
    border-radius: 2vh;
    box-shadow: 2px 2px 15px #111;
}
