* {
    padding: 0;
    margin: 0;
    --darkblue: #192653;
    --lightblue: #254a7c;
    --yellow: #fdcb00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--yellow);
}

body {
    background-color: #5b779b;
    padding-top: 2rem;
}

#header {
    position: absolute;
    width: fit-content;
    padding-bottom: 1rem;
    top: -124px;
}

#header > h1 {
    margin-top: 2rem;
    width: 268px;
    text-align: center;
    font-size: 22pt;
    outline: 5px solid var(--darkblue);
    background-image:  linear-gradient(to top, #192653, #0b163d);
    padding: 0.5rem 1rem ;
    border-radius: 1rem 1rem 0 0;
    border: 1px solid var(--yellow);
    text-shadow: -3px 3px 0 var(--lightblue),
                3px 3px 0 var(--lightblue),
                3px -3px 0 var(--lightblue),
            -3px -3px 0 var(--lightblue);
}

#main_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#filter_container {
    position: relative;
    background-color: var(--lightblue);
    background-image: linear-gradient(to right, #365781, #254a7c, #365986);
    border: 4px solid var(--darkblue);
    width: 250px;
    min-height: 400px;
    max-height: fit-content;
    border-radius: 10px 0 0 10px;
    user-select: none;
    transition: 0.5s;
}

#filter_container.hidden {
    width: 34px;
}

#hamberger {
    position: absolute;
    top: 20px;
    left: -58px;
    background-color: var(--darkblue);
    border-left: 4px solid var(--darkblue);
    border-bottom: 4px solid var(--darkblue);
    border-top: 4px solid var(--darkblue);
    border-radius: 10px 0 0 10px;
    width: 50px;
    height: 50px;
    transition: 0.3s;
}

#hamberger:hover {
    cursor: pointer;
    border-radius: 15px 0 0 15px;
    background-color: var(--yellow);
    opacity: 0.8;
}

#hamberger:hover .hamberger_line {
    background-color: var(--darkblue);
}

#hamberger:hover .hamberger_line::before,
#hamberger:hover .hamberger_line::after {
    width: 35px;
    left: 5px;
    height: 4px;
    background-color: var(--darkblue);
}

.hamberger_line {
    position: relative;
    left: 5px;
    top: 22px;
    height: 3px;
    width: 40px;
    border-radius: 20px;
    background-color: var(--yellow);
    border-bottom: 1px solid var(--darkblue);
}

.hamberger_line::before,
.hamberger_line::after {
    position: absolute;
    left: 0px;
    height: 3px;
    width: 40px;
    border-radius: 20px;
    background-color: var(--yellow);
    content: '';
}

.hamberger_line::before {
    top: 15px;
}

.hamberger_line::after {
    top: -15px;
}

#filter_container h1 {
    padding-left: 10px;
}

#filter_container h1 > div {
    position: absolute;
    top: 0;
    left: 30px;
    padding-left: 10px;
    color: var(--darkblue);
	text-shadow: -1px 1px 0 var(--yellow),
				  1px 1px 0 var(--yellow),
				 1px -1px 0 var(--yellow),
				-1px -1px 0 var(--yellow);
}

#filter_container h1:hover {
    cursor: pointer;
    background-color: var(--yellow);
}

#filter_container h1:hover span {
    color: var(--darkblue);
}

.filter_title {
    border-radius: 5px 0 0 0;
    position: relative;
    align-items: center;
    border-bottom: 3px solid var(--darkblue);
    overflow: hidden;
}

.filter_title.open {
    background-color: var(--darkblue);
}

.filter_title.open h1 > div {
    color: var(--lightblue);
}

.filter_list {
    display: none;
    list-style: none;
    overflow: hidden;
}

.filter_list li {
    padding: 2px;
    padding-left: 12px;
    white-space: nowrap;
}

.filter_list li:hover {
    cursor: pointer;
    background-color: var(--yellow);
    outline: 1px solid var(--darkblue);
    color: var(--lightblue);
}

#search_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 5px solid var(--darkblue);
    background-color: var(--lightblue);
    background-image: linear-gradient(to right, #365781, #254a7c, #365986);
    margin-top: 1rem;
    border-radius: 1rem;
    width: 400px;
}

#input_form {
    border-bottom: 5px solid var(--darkblue);
    padding: 1rem 0 1rem 3.5rem;
    border-radius: 1rem;
    width: 80%;
    margin: auto;
}

#input_form label {
    text-shadow: 1px 0px 1px var(--darkblue), -1px 0px 1px var(--darkblue);
    margin-left: 16px;
}

#name {
    padding: 2px;
    color: black;
    text-align: center;
    font-size: 12pt;
    border-radius: 25px;
}

#submit {
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    border: 1px solid var(--yellow);
    color: var(--yellow);
    text-shadow: 1px 0px 1px var(--darkblue), -1px 0px 1px var(--darkblue);
    background-color: var(--lightblue);
    background-image: linear-gradient(to top, #34447c, #293974);
    box-shadow: 2px 2px 5px var(--darkblue);
    outline: 1px solid black;
    border-radius: 15px;
    transition: 0.3s;
}

#submit:hover,
#left_button:hover,
#right_button:hover,
.list button:hover {
    cursor: pointer;
    background-color: var(--darkblue);
    background-image: linear-gradient(to top, #192653, #121b3a);
    box-shadow: 0 0 5px var(--yellow);
}

#response_list_container {
    overflow: hidden;
    min-height: 440px;
    max-height: fit-content;
}


.list {
    display: none;
    list-style: none;
    width: 400px;
}

.list > li {
    margin: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--darkblue);
}

.list h2 {
    color: var(--yellow);
    text-shadow: -1px 1px 0 var(--lightblue),
            1px 1px 0 var(--lightblue),
            1px -1px 0 var(--lightblue),
        -1px -1px 0 var(--lightblue);
    background-image: linear-gradient(to top, #0f1a41, #192653, #202e61);
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid var(--yellow);
    padding: 5px 10px 5px 10px;
    font-size: 14pt;
    max-width: fit-content;
    min-width: 200px;
}

.list h3 {
    font-size: 12pt;
    padding: 6px 0 6px 0;
    text-shadow: 2px 2px 2px var(--darkblue), -1px 0px 1px var(--darkblue);
}

.list button {
    border: 1px solid var(--yellow);
    outline: 1px solid black;
    border-radius: 0.5rem;
    background-image: linear-gradient(to top, #0f1a41, #192653, #202e61);
    color: var(--yellow);
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
    box-shadow: 2px 2px 5px var(--darkblue);
}

.list li:last-child {
    border-bottom: none;
}

#button_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(to top, #192653, #0b163d);
    border-radius: 1rem;
    background-color: #1f2e63;
}

#button_container button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 33px;
    margin: 1rem 0.5rem 1rem 0.5rem;
    font-size: 24pt;
    border: 2px solid var(--yellow);
    border-radius: 2rem;
    background-image: linear-gradient(to top, #365e94, #254a7c, #0a264b);
    box-shadow: 2px 2px 5px var(--darkblue);
}

button:hover {
    cursor: pointer;
}

#image_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    background-color: #254a7c;
    border: 1px solid var(--yellow);
    outline: 5px solid var(--darkblue);
    border-radius: 0 0 1rem 0;
    margin-left: 5px;
}

#image {
    width: 250px;
    height: 350px;
    border-radius: 0.8rem;
    box-shadow: 2px 2px 15px #111;
}
